# required libraries
# Python version --3.7
# Django

#installing jango
python -m pip install Django

#installing dtar ratings
pip3 install django-star-ratings

#installing rest framework
pip3 install rest_framework

# postman/Browser to Pet and Put Data


